<spinner *ngIf="!product"></spinner>

<div class="card" *ngIf="product">

  <!-- Modal for writing new review -->
  <div id="reviewModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Write Review</h4>
        </div>
        <div class="modal-body">
          <form #reviewForm="ngForm" ngNativeValidate (ngSubmit)="onReviewSubmit()">
            <div class="form-group">
              <label>Rating</label>
              <star-rating [rating]="review.rating" (ratingClicked)="onRatingClicked($event)"></star-rating>
            </div>
            <div class="form-group">
              <label for="userName">Name</label>
              <input [(ngModel)]="review.user_name" type="text" class="form-control" id="userName" name="user_name" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input [(ngModel)]="review.email" type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="comment">Review</label>
              <textarea [(ngModel)]="review.comment" name="comment" class="form-control" id="comment" cols="30" rows="5" required></textarea>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>&nbsp;
            <button type="submit" class="btn btn-primary" [disabled]="reviewForm.invalid">Submit</button>
          </form>
        </div>
      </div>

    </div>
  </div>

  <div class="card-header">
    {{ product.productName }}
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>Name:</div>
          <div class='col-md-8'>{{product.productName}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Description:</div>
          <div class='col-md-8'>{{product.description}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Price:</div>
          <div class='col-md-8'>{{product.price|currency:'USD':'symbol'}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Rating:</div>
          <div class='col-md-8'>
            <pm-star [rating]='+product.overAllRating'>
            </pm-star>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="display: flex;">
            <ng-container *ngFor="let attribute of product.attributeRating">
              <attribute-rating [rating]="+attribute.rating" [name]="attribute.name"></attribute-rating>
            </ng-container>
          </div>
        </div>
      </div>

      <div class='col-md-4'>
        <img class='center-block img-responsive' [style.width.px]='200' [style.margin.px]='2' [src]='product.imageUrl'
          [title]='product.productName'>
      </div>
    </div>
  </div>
</div>

<!-- review comments card -->
<div class="card" *ngIf="product">

  <div class="card-header">
    Reviews
    <span style="float: right;">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewModal">
        Write Review
      </button>
    </span>
  </div>

  <div class="card-body">
    <div class="row" *ngFor="let review of product.reviews">
      <div class="col-md-12">
        <div class="review-rating">
          {{ review.userRating }} <span class="fa fa-star"></span>
        </div>
        <div><strong>{{ review.userName }}</strong></div>
        <div>{{ review.comment }}</div>
      </div>
      <div class="col-md-12">
        <hr>
      </div>
    </div>
  </div>

</div>